@charset "utf-8";
:root{
--cor-1:#147380;
--cor-2:#91F2FF;
--cor-3:#21B8CC;
--cor-4:#778E91;
--cor-5:#29E6FF;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: var(--cor-3);
}
header > h1{
    text-align: center;
    margin: auto;
    font-family: cursive
}

header a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    margin-left: 15px;

    
    
}

header a:hover{
    background-color: var(--cor-2);
    transition: 2ms;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    
    
}
main{
    border-radius: 5px;
    padding-left: 15px;
    margin: auto;
    min-width: 300px;
    max-width: 800px;
    background-color: white;
}
body{
    background-color: var(--cor-4);
}
footer{
    padding: 0 8px 0 8px;
    margin: auto;
    min-width: 300px;
    max-width: 800px;
    text-align: center;
    background-color: #147380;
  }